.image-bg {
background-image: url("../css/images/food.jpeg");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.content {padding-top: : 70px;
padding-left: 60px;}
.Welcome{padding: 10px;}
.outerimage {background: url("images/cutboard.jpeg") top center no-repeat;
background-size: contain;
width: 800px;
height: 600px;
margin-left: auto;
margin-right: auto;
padding: 0;}

.dark-bg {background: #6544FF;}
.medium-bg {background: gray;}
.light-bg {background: #ACA2FF;}

.dark-txt {color: black;}
.medium-txt {color: #FFA9A8;}
.light-txt {color: white;}
body {padding: 0;
margin: 0;
}
.medium-font { font-size: 18px;}
.small-font {font-size: 12px;}
nav ul {list-style-type: none;
padding-left: 0
}
nav a {text-decoration: none;}
img{max-width: 100%; max-height: 100%;}
footer p {padding: 25px;
}
.gallery ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

}
.clear {clear: both;}
.gallery li {
  display: block;
  border: 1px solid #cccccc;
}
  .gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contain {width: 100%;
  object-fit: fill;}
  .desk gallery {display: block;
  width: 100%;
}
a {text-decoration: none;}
.centertxt {text-align: center;}
.biggertxt {font-size: 24px;}
h3 {font-size: 26px;
text-decoration: underline;}
.circleimg {border-radius: 50%;}
