.dark-bg {background: #6544FF;}
.medium-bg {background: #846CFF;}
.light-bg {background: #ACA2FF;}

.dark-txt {color: #AE4300;}
.medium-txt {color: #FF6708;}
.light-txt {color: #FFA066;}
body {padding: 0;
margin: 0;
}

nav ul {list-style-type: none;
padding-left: 0
}
nav a {text-decoration: none;}
