nav ul {text-align: center;}
nav li{text-align: center;
font-size: 20px;
padding-top: 15px;
padding-bottom: 15px;
}
.image-bg {
background-image: url("../css/images/food.jpeg");
background-size: auto;
background-repeat: no-repeat;
background-position: center;
}
img {width: 100%}
.centered {
    position: absolute;
    top: 70%;
    left: 30%;

}
