

h1,h2,h3 {font-family: arial;
color: orange;}

table {background-color: black;}
th, td {color: white}

a {text-decoration: none;
  color: blue}

a:hover {background-color: orange}

.largetext {font-size: 36px}
.mediumtext {font-size: 25px}
.centertext {text-align: center;}
.Barlow {font-family: 'Barlow Condensed',
sans-serif;}
.Open {font-family: 'Open Sans Condensed',
sans-serif;}

#main {background-color: pink}
#main {color: Gray}
#main {text-decoration: underline;}
#home {background-color: pink}
#home {color: gray}
#intro {background-color: pink}
#intro {color: gray}

h3 {text-decoration: underline;}
